<div id="modallista" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
 <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">  <%= best_in_place @list, :title %></h4>
      </div>
      <div class="modal-body">
<div id="contenedorLista">
    <% @list.list_items.each do |li| %>
	<div class="input-group">
            <span class="input-group-addon">
		<%= best_in_place li, :checked, :type => :checkbox,  :collection => [raw("<input type='checkbox'></input>"),raw("<input type='checkbox' checked></input>")] %>
            </span>
	    <div class="listItemField">
		<%= best_in_place li, :content, :type => :input, :classes => 'form-control' %>
            </div>
	    <span class="listItemButton">
		<%= link_to list_item_path(li), method: :delete, class:"close" do %>
			<%= image_tag('x-mark-16.png') %>
		<% end %>
            </span>
	</div>
    <% end %>
</div>
      </div>
<div class="col-md-12">
	<button id="boton" type="button" class="btn btn-default">Nuevo elemento</button>
</div>
      <div class="modal-footer">
	 Fecha de recordatorio: <%= best_in_place @list, :limit_date, type: :date %>
	 <%= link_to 'Eliminar lista', @list, method: :delete, data: { confirm: '¿Realmente desea eliminar esta lista?' }, :class => "btn btn-danger" %>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
	$('#boton').click(function(){
	$.get('/list_item/crearnuevo/<%= @list.id %>');
});
</script>
