<h1>Mis listas</h1>
<div class="row">
	<div class="col-md-offset-2 col-md-8">			
		<div class="col-md-offset-1 col-md-10">
			<div class="row">
				<div class="col-md-offset-5 col-md-5">
					<div class="btn-group">
  						<button  id="newlist" type="button" class="btn btn-default"><%= image_tag("add-list-24.png") %></button>
					</div>
				</div>
			</div>
			<%= yield %>

  <tbody>
    <% @lists.each do |list| %>
	<div class="btn btn-default muestralista" id="<%= list.id %>">
        <%= list.title %><br>
        <%= list.limit_date %>
        </div>
    <% end %>

<script>
$('body').on('hidden.bs.modal', '.modal', function () {
   document.location.reload();
});
$('#newlist').click(function(){
	$.get('/nuevalista');
});
$('.muestralista').click(function(e){
	$.get('/mostrarlista/'+e.target.id);
});
</script>

<div id="espaciomodales">
</div>
