<div>
<% if flash[:warning] or flash[:notice] %>
  <div id="notice" style="color:red;">
    <%= flash[:warning] || flash[:notice] %>
  </div>
  <% flash[:error] = flash[:errors] = flash[:notice] = "" %>
  <script type="text/javascript">
    $("#notice").fadeOut(5000);
  </script>
<% end %>
             <div class="session">
		<h1> Iniciar sesión </h1>
		<%= form_tag '/login', :"data-ajax"=>"false" do%>
		  <div >
		    <h3>Email</h3>
		    <%= text_field_tag :email  %>
		  </div>
		   <div >
		    <h3>Contraseña</h3>
		    <%= password_field_tag :password  %>
		  </div> 
		   <div class="actions">
		    <%= submit_tag 'Login' %>
		  </div> 

		<% end %>
            </div>
</div>
