<div id="modalnota" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
 <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">    <%= best_in_place @note, :title %></h4>
      </div>

      <div class="modal-body">
           <%= best_in_place @note, :content, type: :textarea %>
      </div>

      <div class="modal-footer">
	 Fecha de recordatorio:   <%= best_in_place @note, :limit_date, type: :date %>
	 <%= link_to 'Eliminar nota', @note, method: :delete, data: { confirm: '¿Realmente desea eliminar esta nota?' }, :class => "btn btn-danger" %>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
