<%= form_for(@user, :html => {multipart: true, :'data-ajax' => false }) do|f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ui-field-contain">
    <h3>Email</h3>
    <%= f.text_field :email %>
  </div>
  <div class="field ui-field-contain">
    <h3>Contraseña</h3>
    <%= f.password_field :password %>
  </div>
  <div class="field ui-field-contain">
    <h3>Confirmar contraseña</h3>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Crear usuario"%>
  </div
<% end %>
