<div id="modalmuro" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
 <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">  <%= best_in_place @wall, :title %></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
	 <%= link_to 'Cancelar', @wall, method: :delete, data: { confirm: '¿Realmente desea eliminar este muro?' }, :class => "btn btn-danger" %>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

