<% if logged_in?%>
<h1>Mis muros</h1>
<div class="row">
	<div class="col-md-offset-2 col-md-8">			
		<div class="col-md-offset-1 col-md-10">
			<div class="row">
				<div class="col-md-offset-5 col-md-5">
					<div class="btn-group">
  						<button  id="newwall" type="button" class="btn btn-default"><%= image_tag("wall-24.png") %></button>
					</div>
				</div>
			</div>
			<%= yield %>

    <% current_user.walls.each do |wall| %>
	<a href="/walls/<%= wall.id %>"><div class=" muestramuro btn btn-default" id="<%= wall.id %>">
        <%= wall.title %><br>
        </div></a>
    <% end %>

<script>
$('body').on('hidden.bs.modal', '.modal', function () {
   document.location.reload();
});
$('#newwall').click(function(){
	$.get('/nuevomuro');
});
$('.muestramuro').click(function(e){
	$.get('/mostrarmuro/'+e.target.id);
});
</script>

<div id="espaciomodalesmuros">
</div>
<%else%>
<%access_denied%>
<%end%>
