<% if @wall.owned_by? current_user%>
<h1><%= @wall.title %></h1>
<div class="row">
	<div class="col-md-offset-2 col-md-8">			
		<div class="col-md-offset-1 col-md-10">
			<div class="row">
				<div class="col-md-offset-5 col-md-5">
					<div class="btn-group">
  						<button  id="newnote" type="button" class="btn btn-default"><%= image_tag("note-2-24.png") %></button>
						<button  id="newlist" type="button" class="btn btn-default"><%= image_tag("add-list-24.png") %></button>
					</div>
				</div>
			</div>
			<%= yield %>

    <% @wall.notes.notDeleted.each do |note| %>
	<div class="btn btn-default muestranota" id="<%= note.id %>">
        <%= note.title %><br>
        <%= note.limit_date %>
        </div>
    <% end %>
    <% @wall.lists.notDeleted.each do |list| %>
	<div class="btn btn-default muestralista" id="<%= list.id %>">
        <%= list.title %><br>
        <%= list.limit_date %>
        </div>
    <% end %>

<script>
$('body').on('hidden.bs.modal', '.modal', function () {
   document.location.reload();
});
$('#newnote').click(function(){
	$.get('/nuevanota');
});
$('.muestranota').click(function(e){
	$.get('/mostrarnota/'+e.target.id);
});
$('#newlist').click(function(){
	$.get('/nuevalista');
});
$('.muestralista').click(function(e){
	$.get('/mostrarlista/'+e.target.id);
});
</script>

<div id="espaciomodalesnotas">
</div>
<div id="espaciomodales">
</div>
<%else%>
<%access_denied%>
<%end%>
