<div class="input-group">
<span class="input-group-addon">
		<%= best_in_place @list_item, :checked, :type => :checkbox,  :collection => [raw("<input type='checkbox'></input>"),raw("<input type='checkbox' checked></input>")] %>
                
            </span>
	    <div class="listItemField">
		<%= best_in_place @list_item, :content, :type => :input, :classes => 'form-control' %>
            </div>
	    <span class="listItemButton">
		<%= link_to list_item_path(@list_item), method: :delete, class:"close" do %>
			<%= image_tag('x-mark-16.png') %>
		<% end %>
            </span>

</div>
