<p id="notice"><%= notice %></p>

<p>
  <strong>Checked:</strong>
  <%= @list_item.checked %>
</p>

<p>
  <strong>Content:</strong>
  <%= @list_item.content %>
</p>

<p>
  <strong>List:</strong>
  <%= @list_item.list_id %>
</p>

<%= link_to 'Edit', edit_list_item_path(@list_item) %> |
<%= link_to 'Back', list_items_path %>
