// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listItemField{
	width: 92% !important;
}

.listItemButton{
	float: left;
	vertical-align: center;
}
