<!DOCTYPE html>
<html>
<head>
  <title>Nootz</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<style>
.popover{
 max-width:
}
</style>
<script>
$('body').on('hide.bs.popover', function () {

});

$(document).ready(function(){
$("[data-toggle='popover']").popover({ 
    trigger: 'click',
    placement: 'bottom',
    html: true,
    title: "Notificaciones",
    content: function() {
      return $("#popover-content").html();
    },
    container: 'body'
   });
});
</script>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Nootz</a>
<ul class="nav navbar-nav">
        <li><a href="/walls">Muros</a></li>
<% if logged_in? %>
<li><a href="/logout">Desconectar</a></li>
<% else %>
<li><a href="/login">Conectar</a></li>
<%end %>

</ul>

    </div>
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	<% if Note.end_today.size > 0  || List.end_today.size > 0 %>
         <button type="button"  class="btn btn-default navbar-right" data-toggle="popover" style="position:relative"><%= image_tag("notification-24.png") %><span id="nNotifications" style="display:inline; position:absolute; background-color:red;" class="badge"><%= Note.end_today.size+List.end_today.size %></span></button>
      <% else %>
         <button type="button" class="btn btn-default navbar-right" ><%= image_tag("notification-24.png") %></button>
      <% end %>	 	
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="col-md-offset-1 col-md-10">
			<%= yield %>
		</div>
	</div>
</div>
<div id="popover-content" class="hide">
  <% Note.end_today.to_a.map do |note| %>
    <p><%= note.title %> <a href="/notes/<%= note.id %>/visit" data-remote="true" style="float:right;" onclick="$(this).addClass('remove');"> X</a></p>
  <% end %>
  <% List.end_today.to_a.map do |list| %>
    <div style="display:block"><%= list.title %><a href="/lists/<%= list.id %>/visit" data-remote="true" style="float:right;" onclick="$(this).addClass('remove');"> X</a></div>
  <% end %>
</div>
</body>
</html>
